

<h1 class="text-left" style="color: black">Permissions</h1>

<div class="medium-3 columns end">
    <label style="font-size: 22px; line-height: 33px;" for="name">Name</label>
    <input style="height: 36px; font-size: 18px; line-height: 28px" class="medium-16" id="name" />
</div>
<div class="medium-3 columns">
    <label style="font-size: 22px; line-height: 33px;" for="manageposts"><input  type="checkbox" class="medium-16" id="manageposts" />Manage Posts</label>    
</div>
<div class="medium-3 columns">
    <label style="font-size: 22px; line-height: 33px;" for="newusers"><input type="checkbox" class="medium-16" id="newusers" />Create New Users</label>
</div>
<div class="medium-3 columns">
    <label style="font-size: 22px; line-height: 33px;" for="accesssettings"><input type="checkbox" class="medium-16" id="accesssettings" />Access Settings</label>
</div>
<div class="medium-3 columns">
    <label style="font-size: 22px; line-height: 33px;" for="canimpersonate"><input type="checkbox" class="medium-16" id="canimpersonate" />Allow Impersonation</label>
</div>
<div class="medium-3 columns">
    <label style="font-size: 22px; line-height: 33px;" for="viewmetrics"><input type="checkbox" class="medium-16" id="viewmetrics" />View Metrics</label>
</div>
<div class="medium-3 columns">
    <label style="font-size: 22px; line-height: 33px;" for="permission">Permission</label>
    <select id="permission">
        <option>Admin</option>
        <option>General</option>
        <option>Basic</option>
    </select>
</div>
<div class="medium-3 columns end">
    <input type="submit" class="button small-12" style="margin-top: 18px;" value="Save" />
</div>