@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@* this could be hidden *@
@*<div class="medium-16 columns">
    <input type="button" class="button right pull-1" value="Login" onclick="location.href='@Url.Action("Peel", "Authentication")'" />
</div>*@

@*<div class="medium-16 columns text-center" style="padding-top: 10%;">
    <h1>Home</h1>
</div>*@

<div class="small-16 columns text-center" style="height: 400px">
    <h1 style="margin-top: 200px">We Are Asheville Solutions Group</h1>
</div>

<div class="small-16 columns" style="background-color: #fbf5f4;">
    <h2 class="text-center" >Who We Are</h2>
    <br />
    <h3 class="small-4 columns" style="background-color: lightblue; height: 148px;">Head shot of Matt</h3>
    <h3 class="small-12 column text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris fermentum enim a ipsum elementum, id hendrerit ligula rhoncus. Morbi lacinia a neque at dictum. Maecenas sagittis felis sapien, pulvinar sollicitudin est pharetra et. Mauris nec bibendum diam.</h3>
    <div><h1>&nbsp;</h1></div>
    <h3 class="small-4 push-12 columns" style="background-color: lightblue; height: 148px;">Headshot of Mike</h3>
    <h3 class="small-12 pull-4 columns text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris fermentum enim a ipsum elementum, id hendrerit ligula rhoncus. Morbi lacinia a neque at dictum. Maecenas sagittis felis sapien, pulvinar sollicitudin est pharetra et. Mauris nec bibendum diam.</h3>
</div>

<div class="small-16 columns" style="background-color: #FFFFFF; height: 400px;">
    <h2 class="text-center" style="margin-top: 200px;">What We Do</h2>
</div>

<div class="small-16 columns" style="background-color: #fbf5f4; height: 400px;">
    <h2 class="text-center" style="margin-top: 200px;">Who We Help</h2>
</div>

<div class="small-16 columns" style="background-color: #FFFFFF; height: 400px;">
    <h2 class="text-center" style="margin-top: 200px;">Let's Talk</h2>
</div>




@*<div class="row">
    <div class="small-12 columns text-center">
        <br />
        <div class="row">
            <div class="large-10 large-offset-1 columns">
                <h4 class="text-center">
                    We Are Asheville Solutions Group
                </h4>
            </div>
        </div>
        <br /><br /><br />
    </div>
</div>*@