@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@* this could be hidden *@
@*<div class="medium-16 columns">
    <input type="button" class="button right pull-1" value="Login" onclick="location.href='@Url.Action("Peel", "Authentication")'" />
</div>*@

@*<div class="medium-16 columns text-center" style="padding-top: 10%;">
    <h1>Home</h1>
</div>*@

<div class="small-16 columns text-center" style="height: 680px; background-color: white;">
    <h1 style="margin-top: 200px">We Are Asheville Solutions Group</h1>
</div>

@*<div class="row fullWidth collapse" style="background-color: lightblue;">
    <h2>Hello!</h2>
</div>*@ 

<div class="small-16 columns" style="background-color: lightgray;">
    <h2 class="text-center">Who We Are</h2>
    <br />
    <h3 class="small-4 columns" style="background-color: lightblue; height: 148px;">Photo of Matt</h3>
    <p class="small-12 column text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris fermentum enim a ipsum elementum, id hendrerit ligula rhoncus. Morbi lacinia a neque at dictum. Maecenas sagittis felis sapien, pulvinar sollicitudin est pharetra et. Mauris nec bibendum diam.</p>
    <div><h1>&nbsp;</h1></div>
    <h3 class="small-4 push-12 columns" style="background-color: lightblue; height: 148px;">Photo of Mike</h3>
    <p class="small-12 pull-4 columns text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris fermentum enim a ipsum elementum, id hendrerit ligula rhoncus. Morbi lacinia a neque at dictum. Maecenas sagittis felis sapien, pulvinar sollicitudin est pharetra et. Mauris nec bibendum diam.</p>
</div>



<div class="small-16 columns" style="background-color: #FFFFFF;">
    <br /><br /><br />
    <h2 class="text-center">What We Do</h2>

    <br />
    <div class="small-4 columns small-offset-1" style="background-color: lightsalmon; height: 300px;">
        <h6>Sales point one</h6>
    </div>

    <div class="small-4 small-offset-1 columns" style="background-color: lightsalmon; height: 300px;">
        <h6>Sales point two</h6>
    </div>

    <div class="small-4 small-offset-1 columns end" style="background-color: lightsalmon; height: 300px;">
        <h6>Sales point three</h6>
    </div>

    <div class="small-16 columns">
        <br /><br />
    </div>

</div>

<div class="small-16 columns" style="background-color: #fbf5f4;">
    <br /><br /><br />
    <h2 class="text-center">Who We Help</h2>

    <br />
    <div class="small-4 columns" style="background-color: lightsalmon; height: 300px;">
        <h6>Website One</h6>
    </div>

    <div class="small-4 columns" style="background-color: lightsalmon; height: 300px;">
        <h6>Website Two</h6>
    </div>

    <div class="small-4 columns" style="background-color: lightsalmon; height: 300px;">
        <h6>Website Three</h6>
    </div>

    <div class="small-4 columns" style="background-color: lightsalmon; height: 300px;">
        <h6>Website Four</h6>
    </div>

    <div class="small-16 columns">
        <br /><br />
    </div>

</div>

<div class="small-16 columns" style="background-color: #FFFFFF;">
    <br /><br /><br />
    <h2 class="text-center">Begin a conversation</h2>

    <div class="row">
        <div class="medium-9 small-16 columns end">
            <label for="txbxEmail" class="text-left">Your Email Address&nbsp;<small>required</small></label>
            <input type="email" id="txbxEmail" required />
            @*<small class="error">An email address is required.</small>*@
        </div>
    </div>

    <div class="row">
        <div class="medium-9 small-16 columns end">
            <label for="txbxSubject" class="text-left">Subject&nbsp;<small>required</small></label>
            <input type="text" id="txbxSubject" required />
            @*<small class="error">A subject is required.</small>*@
        </div>
    </div>

    <div class="row hidden">
        <div class="medium-9 small-16 columns end">
            <label for="txbxSubject2" class="text-left">Leave this field empty!</label>
            <input type="text" id="txbxSubject2" />
        </div>
    </div>

    @*<div class="row">
        <div class="large-4 small-12 columns end">
            <label for="txbxMath" class="text-left"><b>What is @Model.FirstNumber @Model.Sign @Model.SecondNumber?</b> (Are you human?)&nbsp;<small>required</small></label>
            <input type="number" id="txbxMath" required />
            <small class="error">That does not compute!</small>
        </div>
    </div>*@

    @* Body *@
    <div class="row">
        <div class="medium-14 columns text-left">
            <label for="txtMessage">Message&nbsp;<small>required</small></label>
        </div>
    </div>
    <div class="row">
        <div class="medium-14 columns">
            <textarea rows="8" id="txtMessage"></textarea>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="medium-14 small-16 columns">
            <a class="button large-4 small-12 noselect" id="btnSend">Send</a>
            @*<div id="alert" data-alert class="alert-box success radius monster-hidden">
                Thanks! Your message was sent successfully.
                <a href="#" class="close" onclick="$('#alertSuccess').slideUp('slow')">&times;</a>
            </div>*@
        </div>
    </div>
    <br /><br />

    <div class="small-16 columns">
        <br /><br />
    </div>
</div>




