@*<div data-alert class="alert-box warning hide">
    <label style="color: white;">incorrect password</label>
    <a href="#" class="close">&times;</a>
</div>*@

<div class="alert alert-info" role="alert">
    <strong>This is an alert regarding what you just clicked!</strong>
</div>