@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home!</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    @RenderSection("PageSpecificScripts", false)
</head>
<body>
    @RenderBody()
</body>
</html>
