@{HttpCookie userCookie = Request.Cookies["ChocolateChip"];}

<nav class="top-bar sticky" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a onclick="location.href='@Url.Action("Home", "Pages")'">Site Name</a></h1>
            @*<h1><a href="#">Site Name</a></h1>*@
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        @*<ul class="right">
            <li class="active"><a href="#">Right Button Active</a></li>
            <li class="has-dropdown">
                <a href="#">Right Button Dropdown</a>
                <ul class="dropdown">
                    <li><a href="#">First link in dropdown</a></li>
                    <li class="active"><a href="#">Active link in dropdown</a></li>
                </ul>
            </li>
        </ul>*@

        
        <ul class="right">
            <li>
                @*<a class="button pull-1" onclick="location.href='@Url.Action("Peel", "Authentication")'">Login</a>*@
                <a class="login" style="background-color: #FF370F;" href="#" onclick="location.href='@Url.Action("Peel", "Authentication")'">Sign In</a>
            </li>
        </ul>

        @if (userCookie != null && userCookie.Value == "true")
        {
            <ul class="right">
            <li class="has-dropdown">
                <a href="#">Secret</a>
                <ul class="dropdown">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Permissions</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </li>
        </ul>
        }

        

        <ul class="right">
            <li class="has-dropdown">
                
                <a href="#" style="text-decoration-line: underline;">Explore!</a> @* I'd like to have an underline here *@ 
                
                <ul class="dropdown">
                    <li class="active"><a onclick="location.href='@Url.Action("Home", "Pages")'">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li>
                <a href="#">Left Nav Button</a>
            </li>
        </ul>
    </section>
</nav>