<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orange</title>
    <link href="~/Content/Libraries/foundation.css" rel="stylesheet" />
    <link href="~/Content/Libraries/orange.css" rel="stylesheet" />
    <link href="~/Content/Libraries/dataTables.foundation.css" rel="stylesheet" />
    @*<link href="~/Styles/Styles.css?@System.Configuration.ConfigurationManager.AppSettings["versioning"]" rel="stylesheet" />*@
    <script src="~/Scripts/Libraries/jquery-1.8.2.js"></script>
    <script src="~/Scripts/Libraries/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Libraries/foundation.js"></script>
    <script src="~/Scripts/Libraries/foundation.alert.js"></script>
    <script src="~/Scripts/Libraries/foundation.topbar.js"></script>
    <script src="~/Scripts/Libraries/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Libraries/dataTables.foundation.js"></script>
    @*<script src="~/Scripts/Core.js?@System.Configuration.ConfigurationManager.AppSettings["versioning"]"></script>*@
    @*<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>*@
    @*@RenderSection("PageSpecificScripts", false)*@
</head>
<body>
    @Html.Partial("_Header")

    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
