
<div class="medium-15 medium-offset-1 columns" style="color: #FFFFFF; background-color: #332717;">
    <div class="medium-16 columns">
        <h1 style="color: #FFFFFF">Existing Users</h1> @* I may want to turn this into a model property *@
    </div>
</div> 

<div class="medium-14 medium-offset-1 columns">
    <br />
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>One</td>
                <td>Two</td>
                <td>Three</td>
            </tr>
            <tr>
                <td>One</td>
                <td>Two</td>
                <td>Three</td>
            </tr>
            <tr>
                <td>One</td>
                <td>Two</td>
                <td>Three</td>
            </tr>
        </tbody>
    </table>
</div>

